{% extends 'base.html' %}

{% block title %}Ajuda{% endblock %}
{% block content %}
<fieldset class="fieldset_templates">
  <legend> Recursos de Ajuda </legend>
PASK ALAL ALALA ALALAL ALAMALA AKA
<br>
<br>
<br>AQUI VAI TER QUE VER SE VAI TER TAMBÉM CONTROLE DE ACESSOS EM QUE A AJUDA PRO ALUNO É UM E PRA ADMs É OUTRA.
<br>
<br>Qualquer coisa pra usuário aluno coloca um vídeo de autoajuda da tela do sistema ensinado por nós
e pra ADMs outro vídeo, além da ajuda escrita nos dois.
<br>espaço
<br>espaço
<br>espaço
<br>espaço
<br>espaço
<br>espaço
<br>Eh isto ai!
</fieldset>
{% endblock %}
