{% extends 'base.html' %}

{% block title %}Nova Aula{% endblock %}
{% block content %}
<fieldset class="fieldset_templates">
  <div class="header_para_fieldsets">
    <h3>CADASTRAR NOVA AULA</h3>
  </div>

 <form method="POST" enctype="multipart/form-data">
 	{% csrf_token %}

  <label for="titulo">TÍTULO</label>
  <div id="titulo">
    {{ formAula.titulo }}
  </div>

  <label for="conteudo">CONTEÚDO DA AULA</label>
  <div id="conteudo">
    {{ formAula.conteudo }}
  </div>

  <label for="resumo">RESUMO</label>
  <div id="resumo">
    {{ formAula.resumo }}
  </div>

  <label for="url_video">URL DO VÍDEO</label>
  <div id="url_video">
    {{ formAula.video }}
  </div>

  <label for="status_cadastro">STATUS: CADASTRO ATIVO?</label>
  <label class="checkbox">
    {{ formAula.ativo }}
    <span class="checkmark"></span>
  </label>

  <label for="capa">FOTO DE APRESENTAÇÃO</label>
  <div id="capa">
    {{ formAula.capa }}
  </div>

  <label for="curso">CURSO</label>
  <div id="curso">
    {{ formAula.curso }}
  </div>

  {{formAula.curso.nome}}

  <fieldset class="fieldset_quiz_aula margin-top-5">
    <legend> CRIE O QUIZ PARA ESTA AULA </legend>

    <label for="pergunta1">Pergunta 1</label><br>
    <input type="text" id="pergunta1" value="" placeholder="Descreva a pergunta" size="45">
    <input type="radio" name="option" value="verdadeiro"> Verdadeiro
    <input type="radio" name="option" value="falso"> Falso
    <br><br>

    <label for="">Pergunta 2</label><br>
    <input type="text" name="" value="" placeholder="Descreva a pergunta" size="45">
    <input type="radio" name="option2" value="verdadeiro"> Verdadeiro
    <input type="radio" name="option2" value="falso"> Falso
    <br><br>

    <label for="">Pergunta 3</label><br>
    <input type="text" name="" value="" placeholder="Descreva a pergunta" size="45">
    <input type="radio" name="option3" value="verdadeiro"> Verdadeiro
    <input type="radio" name="option3" value="falso"> Falso
    <br><br>

    <label for="">Pergunta 4</label><br>
    <input type="text" name="" value="" placeholder="Descreva a pergunta" size="45">
    <input type="radio" name="option4" value="verdadeiro"> Verdadeiro
    <input type="radio" name="option4" value="falso"> Falso
    <br><br>

    <label for="">Pergunta 5</label><br>
    <input type="text" name="" value="" placeholder="Descreva a pergunta" size="45">
    <input type="radio" name="option5" value="verdadeiro"> Verdadeiro
    <input type="radio" name="option5" value="falso"> Falso
  </fieldset>

  <input type="submit" value="CADASTRAR" class="botoes_form_cadastro"/>

 </form>
</fieldset>

{% endblock %}
